body {
    font-family: poppins;
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les paddings par défaut */
    background-image: url('img/img_redirection.jpg'); /* Chemin vers votre image */
    background-size: cover; /* L'image couvre toute la page */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Évite que l'image se répète */
    height: 100vh; /* Hauteur de la page égale à 100% de la fenêtre */
}
